In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("./data/Standorte_labeled.xlsx", index_col=0)

In [3]:
df.head()

,Straße,PLZ,Ort,emp_land,Lat,Lon,Kategorie,Markiert
0,REWESTR. 1,1683,STARBACH,D,51.086086,13.278351,Sehr Gut,NaN
1,RAIFFEISENSTR. 5-9,61191,ROSBACH,D,50.295350,8.687106,Sehr Gut,NaN
2,AM RÖMERFELD 6,71149,BONDORF,D,48.506751,8.836023,Sehr Gut,NaN
3,SEEBERGER STRASSE 10,15345,ALTLANDSBERG,D,52.548581,13.694739,Sehr Gut,NaN
4,IN DEN WEINÄCKERN 1,69168,WIESLOCH,D,49.296811,8.668717,Sehr Gut,NaN

In [4]:
df["Kategorie"].value_counts()

Sehr Gut    697
Gut         191
Mittel       42
Schlecht     35
Name: Kategorie, dtype: int64

# Create equally distributed sample dataset by using the minimum category as baseline

In [5]:
# Extract a sampled dataset which contains equal number of items for each category
# smallest category determines sample size
# e.g.: original dataset has 1000 "Sehr Gut" but only 50 "Schlecht" --> our sampled data will contain 50 of each category
df_sampled = df.groupby('Kategorie').apply(lambda s: s.sample(min(df["Kategorie"].value_counts()), random_state=42))

In [6]:
df_sampled["Kategorie"].value_counts()

Gut         35
Schlecht    35
Mittel      35
Sehr Gut    35
Name: Kategorie, dtype: int64

In [7]:
df_sampled.head()

                                   Straße    PLZ           Ort emp_land  \
Kategorie
Gut       883            AM WIRTHEMBOESCH  66606    ST. WENDEL        D
          636            ERFURTER STR. 72  99195  MITTELHAUSEN        D
          902  SCHOENEWEIBERGASSE 107-109  64347     GRIESHEIM        D
          615                 UNTERE AU 7  97246    EIBELSTADT        D
          592      WIESBADENER STRASSE 58  65510       IDSTEIN        D

                     Lat        Lon Kategorie Markiert
Kategorie
Gut       883  49.465295   7.160531       Gut      NaN
          636  51.081965  11.091541       Gut      NaN
          902  49.869247   8.555982       Gut      NaN
          615  49.727982   9.996074       Gut      NaN
          592  50.217182   8.262419       Gut      NaN

In [12]:
# rename actual column "Kategorie" to "class" to avoid naming problems when saving to excel
# because grouped_by column is also called Kategorie
df_sampled = df_sampled.rename(index=str, columns={"Kategorie":"class"})

In [13]:
df_sampled.to_excel("./data/data_sample.xlsx")