In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("./data/Standorte_labeled.xlsx", index_col=0)

In [3]:
df.head()

,Straße,PLZ,Ort,emp_land,Lat,Lon,Kategorie,Markiert
0,REWESTR. 1,1683,STARBACH,D,51.086086,13.278351,Sehr Gut,NaN
1,RAIFFEISENSTR. 5-9,61191,ROSBACH,D,50.295350,8.687106,Sehr Gut,NaN
2,AM RÖMERFELD 6,71149,BONDORF,D,48.506751,8.836023,Sehr Gut,NaN
3,SEEBERGER STRASSE 10,15345,ALTLANDSBERG,D,52.548581,13.694739,Sehr Gut,NaN
4,IN DEN WEINÄCKERN 1,69168,WIESLOCH,D,49.296811,8.668717,Sehr Gut,NaN

In [4]:
df["Kategorie"].value_counts()

Sehr Gut    697
Gut         191
Mittel       42
Schlecht     35
Name: Kategorie, dtype: int64

In [5]:
# Extract a sampled dataset which contains equal number of items for each category
# smallest category determines sample size
# e.g.: original dataset has 1000 "Sehr Gut" but only 50 "Schlecht" --> our sampled data will contain 50 of each category
df_sampled = df.groupby('Kategorie').apply(lambda s: s.sample(min(df["Kategorie"].value_counts()), random_state=42))

In [6]:
df_sampled["Kategorie"].value_counts()

Schlecht    35
Gut         35
Sehr Gut    35
Mittel      35
Name: Kategorie, dtype: int64

In [7]:
df_sampled.to_excel("./data/data_sample.xlsx")